/* colors when text is highlighted with cursor */
::selection {
    background-color: black;
    color: white;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
}

label {
    padding: 10px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
    /* delete some of that whitespace at the bottom of header */
    height: 270px;
}

.timeblock-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
}

.time-block {
    border-radius: 15px;
    width: 2000px;
    background-color: white;
    color: maroon;
    border: black solid 1px;
    height: 100px;
    transition: height 1s;
    -webkit-transition: height 1s;
    /* move cursor in input box to the right a tad */
    padding: 0 10px;
}

/* timeblock animation */
.time-block:focus {
    height: 60px;
    font-size: 16px;
}

.hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
}

.past {
    background-color: #d3d3d3;
    color: black;
}

.past::placeholder {
    color: #fff;
}

.present {
    background-color: #ff6961;
    color: black;
}

.present::placeholder {
    color: #fff;
}

.future {
    background-color: #77dd77;
    color: black;
}

.saveBtn {
    border-radius: 10px;
    background-color: #06AED5;
    color: white;
    width: 300px;
    margin-left: 30px;
}

/* button animation */
.saveBtn:hover {
    font-size: 19px;
    transition: all .4s ease-in-out;
}

#confirmation {
    text-align: center;
    display: none;
}

#clearBtn {
    margin-left: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
    background-color: #06AED5;
    color: white;
    width: 200px;
    height: 75px;
    align-self: center;
}

#clearBtn:hover {
    font-size: 19px;
    transition: all .4s ease-in-out;
}